.DS_Store
.gitbak
*.gitbak
docker-compose.yml
docker-compose.auto-m4b.yml
**/__pycache__
.env
.env.local*
**/tests/tmp/**/*
._.*
._*
sandbox/
/m4b-tool
*_cache.sqlite
.venv*/
Pipfile
Pipfile.lock
*.old
.coverage
.vscode/
.pytest_cache/
config/
