[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
inflect = "*"
humanize = "*"
ffmpeg = "*"
ffmpeg-python = "==0.2.0"
numpy = "*"
pydantic = "*"
tinta = "==0.1.7b5-post1"
python-dotenv = "*"
columnar = "*"
python-ffmpeg = "*"
cachetools = "*"
types-cachetools = "*"
rapidfuzz = "*"
bidict = "*"
regex = "*"
mutagen = "*"
# spacy = { version = "<4", sys_platform = "!='darwin'" }
spacy = { version = "<4", extras = ["apple"], sys_platform = "=='darwin'" }

[dev-packages]
ruff = "*"
black = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
pillow = "*"
pytest-order = "*"
pytest-skip-slow = "*"

[requires]
python_version = "3.12"

[pipenv]
allow_prereleases = true

[scripts]
app = "python src -l 1"
forever = "python src -l -1"
docker = "python -u src -l -1"
tests = "python -m pytest -c pyproject.toml"
fix-ffprobe = "scripts/fix-ffprobe.sh"
install-docker-m4b-tool = "scripts/install-docker-m4b-tool.sh"
start-docker-m4b-tool = "scripts/start-docker.sh"
